.custom-badge {
  padding: 4px 8px;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.325rem;
  height: fit-content;
}